
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.prod.ProductName</h1><br />
<img class="productThumb" src="~/Images/@ViewBag.prod.ProductImgPath" alt="@ViewBag.prod.ProductAltText" /><br /><br />
<p>@ViewBag.prod.ProductDescription</p>

