
@{
    ViewBag.Title = "Index";
}

<div class="IndividualProdPageContainer">
    <h1>@ViewBag.prod.ProductName</h1>
    <br />
    <img class="ImgIndividualProdPage" src="~/Images/@ViewBag.prod.ProductImgPath" alt="@ViewBag.prod.ProductAltText" />
    <br />
    <br />
    <p>@ViewBag.prod.ProductDescription</p>
</div>
