@{
    ViewBag.Title = "Home";
}


<div class="homeContent">
    <h1>Welcome to Just 4 You Promotions! :)</h1>
    <br />
    <img id="prodImg1" src="~/Images/sampleProduct1.jpg" alt="sample product 1: messanger bag with custom embroidery stitching name" />
    <h3>This is where the text goes for the home page... The text will contain basic information about services that Just For You Promotion offers... :) This is where the text goes for the home page... The text will contain basic information about services that Just For You Promotion offers... :) This is where the text goes for the home page... The text will contain basic information about services that Just For You Promotion offers... :) This is where the text goes for the home page... The text will contain basic information about services that Just For You Promotion offers... :)<img id="prodImg2" src="~/Images/sampleProduct2.jpg" alt="sample product 2: white stuffed bear with custom embroidery stitching name" /> This is where the text goes for the home page... The text will contain basic information about services that Just For You Promotion offers... :) This is where the text goes for the home page... The text will contain basic information about services that Just For You Promotion offers... :) This is where the text goes for the home page... The text will contain basic information about services that Just For You Promotion offers... :)</h3>
</div>