@model JustForYouPromotions.Models.LoginModel
@{

    ViewBag.Title = "Index";
}

<br />
<h5>UserName:</h5>
@Html.TextBoxFor(model => model.UserName)
<h5>Password:</h5>
@Html.PasswordFor(model => model.Password)
<br /><br />
<input type="submit" value="Login" />

