body {
    padding-top:0px;
    padding-bottom:0px;
}

.header {
    width:100%;
    height:150px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-image:url(../Images/HeaderBackgroundImg.gif);
}

.SideBarWidth {
    width:20%;
}

.SideBarBackground {
    background-image:url(../Images/SideBarBackgroundImg.gif);
}

.SideBarTextColor {
    color:white;
}

.HeaderLogo {
    position:absolute;
    top:20px;
    left:10px;
    height:100px;
    width:225px;
}

ul li {
    text-decoration:none;
    list-style:none;
    float:right;
}
#contTab {
    padding:0px 400px 0px 0px;    
}
#homeTab {
    padding:0px 70px 0px 0px;    
}
#prodTab {
    padding:0px 70px 0px 0px;    
}

.LogoContainer {
    width:250px;
    height:150px;
}