
@{
    ViewBag.Title = "Products";
}


<h3>Products:</h3><br /><br />
<div class="ProdTable">
    <table class="adminTablePadding">
        @{
            foreach (var item in ViewBag.prods)
            {
                <tr>    
                    <th><img class="productThumb" src="~/Images/@item.ProductImgPath" alt="@item.ProductAltText" /></th>
                    <th>@item.ProductName</th>
                    <th>@item.ProductDescription</th>
                </tr>
            }
        }
    </table>
</div>