
@{
    ViewBag.Title = "Admin Announcements Page";
}
<br /><br /><br /><br />
<span>@Html.ActionLink("Members", "Index", "Admin")  |  @Html.ActionLink("Products", "Index", "AdminProducts")  |  @Html.ActionLink("Announcements", "Index", "AdminAnnouncements")</span>

<br /><br />
<h2>Announcements</h2>